[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User={{ transmission_user }}
Type=notify
ExecStart=/usr/bin/transmission-daemon -f -g /var/lib/transmission-daemon/.config/transmission-daemon --log-error
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
